@media (max-width: 992px) {
  .container {
    padding-left: 39px;
    padding-right: 39px;
  }

  .hero {
    padding-bottom: 134px;
  }

  .hero__title {
    margin-bottom: 15px;
    font-size: 50px;
  }

  .hero::after {
    width: 43%;
    top: -19px;
    right: 38px;
    background-image: url(../img/hero-bg-media.png);
  }

  .advantages {
    padding-bottom: 76px;
  }

  .advantages__content {
    max-width: 100%;
    margin-bottom: 23px;
    padding-left: 240px;
    background-size: 211px 187px;
    background-position: left top;
  }

  .adv-list__item {
    padding-top: 91px;
    padding-left: 0;
    padding-bottom: 0;
    background-position: left top;
  }

  .teachers {
    padding-bottom: 50px;
  }

  .teacher {
    row-gap: 22px;
  }

  .courses {
    padding-bottom: 81px;
  }

  .article {
    min-height: 556px;
  }

  .article__picture img {
    width: 100%;
  }

  .article__btn {
    padding: 21px 56px;
  }

  .courses .row:not(:last-child) {
    margin-bottom: 30px;
  }

  .article__time {
    right: 10px;
  }
}

@media (max-width: 767px) {
  .container {
    padding-left: 33px;
    padding-right: 33px;
  }

  .header {
    padding-bottom: 30px;
  }

  .header .container {
    flex-direction: column;
    align-items: center;
  }

  .header__logo {
    margin-right: 0;
    margin-bottom: 28px;
  }

  .hero {
    padding-top: 78px;
    padding-bottom: 135px;
  }

  .hero::after {
    display: none;
  }

  .advantages {
    padding-bottom: 55px;
  }

  .advantages__content {
    padding-left: 180px;
    background-size: 150px 134px;
  }

  .teachers {
    padding-bottom: 74px;
  }

  .article {
    min-height: 653px;
  }

  .article__block {
    padding-top: 29px;
    padding-bottom: 27px;
  }

  .article__picture img {
    width: 100%;
  }

  .article__title {
    line-height: 130%;
  }

  .article__btn {
    padding: 21px 48px;
  }
}

@media (max-width: 575px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }

  .header {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .header__logo {
    margin-bottom: 22px;
  }

  .header__nav {
    align-self: flex-start;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .nav__list {
    flex-wrap: nowrap;
  }

  .hero {
    padding-top: 50px;
    padding-bottom: 51px;
  }

  .hero__title {
    margin-bottom: 5px;
    font-size: 30px;
  }

  .hero__descr {
    margin-bottom: 46px;
    font-size: 16px;
    line-height: 130%;
  }

  .hero__btn {
    padding: 20px 53px;
    font-size: 16px;
  }

  .advantages {
    padding-top: 49px;
    padding-bottom: 21px;
  }

  .advantages__content {
    padding: 0;
    background: none;
  }

  .advantages__title {
    margin-bottom: 2px;
    font-size: 20px;
    line-height: 130%;
  }

  .adv-list__item {
    padding-top: 3px;
    padding-left: 110px;
    padding-bottom: 30px;
    min-height: 100px;
  }

  .teachers {
    padding-top: 47px;
    padding-bottom: 46px;
  }

  .teachers__title {
    margin-bottom: 27px;
    font-size: 20px;
  }

  .teacher__name {
    margin-bottom: 8px;
  }

  .courses {
    padding-top: 46px;
    padding-bottom: 50px;
  }

  .courses__title {
    margin-bottom: 27px;
    font-size: 20px;
  }

  .courses .col-12:not(:last-child) {
    margin-bottom: 30px;
  }

  .article__picture img {
    width: 100%;
  }

  .article__block {
    padding-top: 27px;
  }

  .article__btn {
    padding: 22px 55px;
  }

}
